<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,300,700,800&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

    <!-- Loading Bootstrap -->
    <link href="{{ 'css/vendor/bootstrap.min.css' | asset_url }}" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="{{ 'css/flat-ui.css' | asset_url }}" rel="stylesheet">

    <link rel="shortcut icon" href="{{ 'img/favicon.ico' | asset_url }}">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="{{ 'js/vendor/html5shiv.js' | asset_url }}"></script>
      <script src="{{ 'js/vendor/respond.min.js' | asset_url }}"></script>
    <![endif]-->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ 'prolubov.css' | asset_url }}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}

    <!-- jQuery (necessary for Flat UI's JavaScript plugins) -->
    <script src="{{ 'js/vendor/jquery.min.js' | asset_url }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ 'js/flat-ui.min.js' | asset_url }}"></script>
    {% block javascripts %}{% endblock %}
  </body>
</html>